@inject Serenity.ITextLocalizer Localizer
@{
    ViewData["Title"] = "Dashboard";
    ViewData["PageId"] = "Dashboard";
}

@section ContentHeader {
    <h1>@Localizer.Get("Navigation.Dashboard")</h1>
}

<div id="DashboardDiv"></div>

<script type="module" src="@Html.ResolveWithHash("~/esm/Modules/Common/Dashboard/DashboardPage.js")"></script>