@inject Serenity.ITextLocalizer Localizer
@{
    ViewData["Title"] = "Dashboard";
    ViewData["PageId"] = "Dashboard";
}

@section ContentHeader {
    <h1>@Localizer.Get("Navigation.Dashboard")</h1>
}